/*
Theme Name: Astra Child - Mockup Variant
Theme URI: https://wpastra.com/
Description: Astra child theme with custom WooCommerce product templates for virtual variant price display
Author: Your Name
Author URI: https://wpastra.com/about/
Template: astra
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: astra-child
*/

/* 
 * Child theme custom styles can go here.
 * Parent Astra theme styles are automatically loaded via functions.php
 */